<html>
    <body>        
        <div id="about">
            <div class="boxed_wrapper">

                <!--Start Preloader -->
                <!--<div class="preloader"></div>-->
                <!--End Preloader -->
                <!--Start top bar area-->
                <section class="top-bar-area" style="background-color:#111934" id="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                <div class="top-left clearfix">
                                    <div class="our-office">
                                        <!--<p style="color:#92a8d1;font-weight:100">Deborah Smyth</p>-->
                                    </div>
                                    <ul class="top-contact-info">
                                        <!--<li><span class="flaticon-phone" id="phone"></span></li>-->
                                        <!--<li><span class="flaticon-arrows"></span>Tempo Housing UK & Ireland Modular Express : dsmyth@tempohousing.com</li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                                <div class="top-right">
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/DEB24510329"><i class="fa fa-twitter"></i></a></li>
                                        <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                        <li><a href="https://www.linkedin.com/in/deborah-smyth-365456b0/"><i class="fa fa-linkedin"></i></a></li>
                                        <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End top bar area-->
                <!--Start header area-->
                <section class="header-area" style="background-color:#17264f">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-3 col-md-3" style="margin-left:80px; background-repeat:no-repeat;background-size:contain;font-size: 1.3vw;">
                                <div class="logo">
                                    <a href="#home">
                                        <img src="../../images/resources/logo-2.png" alt="Awesome Logo">
                                        <p style="color:darkgrey;font-weight:100;">Modular Express Uk and Ireland</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3" style="background-repeat:no-repeat;background-size:contain;font-size: 1.3vw;">
                                <div class="header-right">
                                    <ul>
                                        <li>
                                            <div class="icon-holder">
                                                <span class="flaticon-office"></span>
                                            </div>
                                            <div class="text-holder">
                                                <h4 style="font-size: 1.3vw;">Certified Company</h4>
                                                <span style="color:darkgrey;font-size: 1.3vw">high quality service</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-3 col-md-3">
                                <div class="header-right">
                                    <ul>
                                        <li>
                                            <div class="icon-holder">
                                                <span class="flaticon-cup"></span>
                                            </div>
                                            <div class="text-holder">
                                                <h4 style="font-size: 1.3vw;">The Best Industrial</h4>
                                                <span style="font-size: 1.3vw;">modular solutions provider</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End header area-->
                <!--Start mainmenu area-->
                <section class="mainmenu-area stricky">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--Start mainmenu-->
                                <nav class="main-menu pull-left">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li><a href="#home"><span>Home</span></a></li>
                                            <li class="dropdown"><a href="#about"><span>ABOUT US</span></a>
                                                   <ul class="current">
                                                       <li><a href="#about">About Company</a></li>
                                                   </ul>
                                            </li>
                                            <li>
                                                <a href="#products"><span>Products</span></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#projects"><span>Projects</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="#projects">Our Projects</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#contact"><span>Contact Us</span></a></li>
                                            <li><a href="#brochure"><span>Brochure</span></a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!--End mainmenu-->
                                <div class="mainmenu-right-box pull-right">
                                    <div class="quote-button">
                                        <!--<a><i class="fa fa-share" aria-hidden="true"></i><span ng-controller="callbackController" ng-click="calling()">Request Callback</span></a>-->
                                    </div>
                                    <div class="search-option">
                                        <div class="outer-search-box">
                                            <ul class="search-box">
                                                <li>
                                                    <form method="post" action="#home">
                                                        <div class="form-group">
                                                            <input type="search" name="search" placeholder="Search Here" required>
                                                            <button type="submit"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!--End mainmenu area-->
                <!--background: #eb01a5;
            background-image: url("IMAGE_URL"); /* fallback */
            background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531); /* W3C */-->
                <!--Start breadcrumb area-->
                <!--<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">-->
                <!--<section class="breadcrumb-area" style="background: linear-gradient(to right bottom, #648880, #293f50);">-->
                <section class="breadcrumb-area" style="background-image: url(../../images/background/about-us.jpg);background-repeat:no-repeat;background-size:100%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!--<img src="images/resources/tempo-image-6.jpg"/>-->
                                <div class="breadcrumbs">
                                    <!--<h1>Tempo housing<h1>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumb-botton">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="left pull-left">
                                        <li><a href="#home">Home</a></li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                        <li class="active">About Us</li>
                                    </ul>
                                    <div class="share-button pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End breadcrumb area-->
                <!--Start about company area-->
                <section class="about-company-area">
                    <div class="container" style="height:850px;">
                        <div class="sec-title">
                            <h1>About Our Industry</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div class="img-holder">
                                    <!--<img src="images/about/about-industry.jpg" alt="Awesome Image">-->
                                    <img src="images/resources/deborah2-pic.png" alt="Awesome Image">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6" style="font-size: 1.3vw;">
                                <div class="text-holder">
                                    <p>
                                        <span style="color:cornflowerblue;">Deborah Smyth</span> has been in the land and property business for
                                        over 15 years. Deborah has extensive experience in real estate development in the United Kingdom and Ireland
                                        and specific expertise in modular residential projects, so she will be delighted to hear from you when you
                                        are seeking a trusted supplier for any of your housing projects. She is founder of <span style="color:cornflowerblue; font-weight:400">Modular</span>
                                        <span style="color:#ff4f00;font-weight:400">Express</span> and would like to announce that she has partnered up with one of Europe's industry leaders
                                        in modular construction, <span style="color:#ff4f00;font-weight:400">Tempo</span><span style="color:cornflowerblue; font-weight:400">housing</span>.
                                        They are an off-site modular manufacturing and construction business specialising in the supply of high quality,
                                        rapidly built, modular ISO pods for private and social housing.
                                    </p>
                                    <div class="title">
                                        <!--<h3>History in Words</h3>-->
                                    </div>
                                    <!--<p>We partner with over 320 amazing seds projects worldwide, and have given over million in cash & product grants to other groups since 2015 our own dynamic suite.</p>-->
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <div class="row bottom">
                            <!--Start single item-->
                            <div class="col-xs-12 col-md-12">
                                <div class="single-item hvr-wobble-horizontal">
                                    <div class="col-xs-3 col-md-3">
                                        <img src="images/about/mission lego.jpg" alt="Awesome Image" style="background-repeat:no-repeat;background-size:contain;">
                                    </div>

                                    <div class="col-xs-3 col-sm-3 col-md-3" style="font-size: 1.3vw;">
                                        <h3 style="font-size: 1.3vw;">Our Mission</h3>
                                        <p style="margin-top:5px;">
                                            <span style="color:cornflowerblue">Our mission</span> is to build green, economical and simple.
                                            Not to beat the competition on pricing but with original and smarter and more economical solutions
                                            of a higher quality. If we can help creating a cleaner world while keeping the cost down and build
                                            faster, we are all better off. If you want to discuss your project plan with us, we look forward
                                            to hear from you.
                                        </p>
                                    </div>

                                    <div class="col-xs-3 col-md-3">
                                        <img src="images/about/Vision road.jpg" alt="Awesome Image" style="background-repeat:no-repeat;background-size:contain;">
                                    </div>

                                    <div class="col-xs-3 col-sm-3 col-md-3" style="font-size: 1.3vw;">
                                        <h3 style="font-size: 1.3vw;">Our Vision</h3>
                                        <p>
                                            <span style="color:cornflowerblue">Our vision</span> is to bring Tempohousing/Modular Express into the
                                            British and Irish market by providing turnkey solutions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--End single item-->
                        </div>
                    </div>
                </section>
                <div class="row" style="height:12px;"></div>
                <!--End about company area-->
                <!--Start slogan area-->
                <section class="slogan-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text pull-left">
                                    <h2 style="font-size: 1.9vw;">We are providing good & on time services to our valuable customers.</h2>
                                </div>
                                <div class="button pull-right">
                                    <!--<a><span onclick="requescallback()" ng-controller="callbackController" ng-click="calling()">Request a Callback</span></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End slogan area-->
                <!--Start footer area-->
                <footer class="footer-area" style="padding:0px;background-color:#17264f">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-12" style="padding:0;background-color:#111934;">
                                <ul class="footer-contact-info" style="background-color:#142541;">
                                    <li class="col-xs-6 col-md-6" style="font-size: 1.3vw;width:400px;">
                                        <span class="flaticon-phone"></span><b style="color:silver;font-size: 1.3vw;">Phone:</b> Ireland :+353(0)85 814 8561
                                        <p style="margin-left:100px;">UK :+44(0)77 9990 7527</p>
                                    </li>
                                    <li class="col-xs-6 col-md-6" style="font-size: 1.3vw;width:450px;margin-left:-20px;">
                                        <span class="flaticon-arrows"></span><b style="color:silver;font-size: 1.3vw;">Address:</b> Building 3 Chiswick Park 566
                                        <p style="margin-left:112px;">Chiswick High Street,</p>
                                        <p style="margin-left:112px;">London,</p>
                                        <p style="margin-left:112px;">W4 5YA</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <!--Start single footer widget-->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-footer-widget pd-bottom50">
                                    <div class="title">
                                        <!--<h3>about Us</h3>-->
                                    </div>
                                    <div class="about-us">
                                        <!--<p>Over 24 years experience and knowledge international standards, technologicaly changes our industrial systems, we are dedicated to provides  the best solutions to our valued customers there are many variations solutions.</p>-->
                                        <ul class="footer-social-links">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/DEB24510329"><i class="fa fa-twitter"></i></a></li>
                                            <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                            <li><a href="https://www.linkedin.com/in/deborah-smyth-365456b0/"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End single footer widget-->
                            <!--Start single footer widget-->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                            </div>
                            <!--End single footer widget-->
                            <!--Start single footer widget-->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                            </div>
                            <!--Start single footer widget-->
                            <!--Start single footer widget-->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                            </div>
                            <!--End single footer widget-->
                        </div>
                    </div>
                </footer>
                <!--End footer area-->
                <!--Start copyright area-->
                <section class="copyright-area" style="background-color:#111934">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="support">
                                    <p><span class="flaticon-envelope"></span><span style="color:silver;font-weight:300">Any Queries :</span><a href="mailto:dsmyth@tempohousing.com"> <span style="color:white;font-weight:200">dsmyth@tempohousing.com</span></a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="copyright">
                                    <p>Copyrights © 2017 All Rights Reserved. Powered by <a href="#">Industry.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End copyright area-->
                <!--Scroll to top-->
                <!--<button class="scroll-to-top scroll-to-target" data-target="html" type="button" onclick="gotop()" style="background-color:orange;height:100px;width:100px;"></button>-->
                <div class="scroll-to-top scroll-to-target" data-target="html" id="trigger"><span class="fa fa-angle-up"></span></div>
                
            </div>
        </div>
    </body>
</html>
