  <html>
      <body>
          <div id="contact">

              <div class="boxed_wrapper">

                  <!--Start Preloader -->
                  <!--<div class="preloader"></div>-->
                  <!--End Preloader -->
                  <!--Start top bar area-->
                  <section class="top-bar-area" style="background-color:#111934">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                  <div class="top-left clearfix">
                                      <div class="our-office">
                                          <!--<p style="color:#92a8d1;font-weight:100">Deborah Smyth</p>-->
                                      </div>
                                      <ul class="top-contact-info">
                                          <!--<li><span class="flaticon-phone" id="phone"></span></li>-->
                                          <!--<li><span class="flaticon-arrows"></span>Tempo Housing UK & Ireland Modular Express : dsmyth@tempohousing.com</li>-->
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                                  <div class="top-right">
                                      <ul class="social-links">
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                          <li><a href="https://twitter.com/DEB24510329"><i class="fa fa-twitter"></i></a></li>
                                          <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                          <li><a href="https://www.linkedin.com/in/deborah-smyth-365456b0/"><i class="fa fa-linkedin"></i></a></li>
                                          <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!--End top bar area-->
                  <!--Start header area-->
                  <section class="header-area" style="background-color:#17264f">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-xs-3 col-md-3" style="margin-left:80px; background-repeat:no-repeat;background-size:contain;font-size: 1.3vw;">
                                  <div class="logo">
                                      <a href="#home">
                                          <img src="../../images/resources/logo-2.png" alt="Awesome Logo">
                                          <p style="color:darkgrey;font-weight:100;">Modular Express Uk and Ireland</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-xs-3 col-md-3" style="background-repeat:no-repeat;background-size:contain;font-size: 1.3vw;">
                                  <div class="header-right">
                                      <ul>
                                          <li>
                                              <div class="icon-holder">
                                                  <span class="flaticon-office"></span>
                                              </div>
                                              <div class="text-holder">
                                                  <h4 style="font-size: 1.3vw;">Certified Company</h4>
                                                  <span style="color:darkgrey;font-size: 1.3vw">high quality service</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                              <div class="col-xs-3 col-md-3">
                                  <div class="header-right">
                                      <ul>
                                          <li>
                                              <div class="icon-holder">
                                                  <span class="flaticon-cup"></span>
                                              </div>
                                              <div class="text-holder">
                                                  <h4 style="font-size: 1.3vw;">The Best Industrial</h4>
                                                  <span style="font-size: 1.3vw;">modular solutions provider</span>
                                                  <!--<span style="color:darkgrey;">modular solutions provider</span>-->
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!--End header area-->
                  <!--Start mainmenu area-->
                  <section class="mainmenu-area stricky">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <!--Start mainmenu-->
                                  <nav class="main-menu pull-left">
                                      <div class="navbar-header">
                                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                          </button>
                                      </div>
                                      <div class="navbar-collapse collapse clearfix">
                                          <ul class="navigation clearfix">
                                              <li><a href="#home"><span>Home</span></a></li>
                                              <li class="dropdown">
                                                  <a href="#about"><span>ABOUT US</span></a>
                                                  <ul>
                                                      <li><a href="#about">About Company</a></li>
                                                  </ul>
                                              </li>
                                              <li><a href="#products"><span>Products</span></a></li>
                                              <li class="dropdown">
                                                  <a href="#projects"><span>Projects</span></a>
                                                  <ul class="dropdown">
                                                      <li><a href="#projects">Our Projects</a></li>
                                                  </ul>
                                              </li>
                                              <li class="current"><a href="#contact"><span>Contact Us</span></a></li>
                                              <li><a href="#brochure"><span>Brochure</span></a></li>
                                          </ul>
                                      </div>
                                  </nav>
                                  <!--End mainmenu-->
                                  <div class="mainmenu-right-box pull-right">
                                      <div class="quote-button">
                                          <!--<a><i class="fa fa-share" aria-hidden="true"></i><span ng-controller="callbackController" ng-click="calling()">Request Callback</span></a>-->
                                      </div>
                                      <div class="search-option">
                                          <div class="outer-search-box">
                                              <!--<div class="seach-toggle"><i class="fa fa-search"></i></div>-->
                                              <ul class="search-box">
                                                  <li>
                                                      <form method="post" action="#home">
                                                          <div class="form-group">
                                                              <input type="search" name="search" placeholder="Search Here" required>
                                                              <button type="submit"><i class="fa fa-search"></i></button>
                                                          </div>
                                                      </form>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </section>
                  <!--End mainmenu area-->
                  <!--Start breadcrumb area-->
                  <!--<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">-->
                  <!--<section class="breadcrumb-area" style="display: inline-block;width: 100%;font-size:0;line-height:0;vertical-align:auto;background-size: 100%;background-position: 50% 50%;background-repeat: no-repeat;background-image: url(images/background/contact-us-3.jpg);">-->
                  <section class="breadcrumb-area" style="background-image: url(../../images/background/contact-us-7.jpg);background-repeat:no-repeat;background-size:100%">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="breadcrumbs">
                                      <!--<h1>Contact</h1>-->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="breadcrumb-botton">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-12">
                                      <ul class="left pull-left">
                                          <li><a href="#home">Home</a></li>
                                          <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                          <li class="active">Contact</li>
                                      </ul>
                                      <div class="share-button pull-right">
                                          <!--<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>-->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!--End breadcrumb area-->
                  <!--Start contact form area-->
                  <section class="contact-form-area">
                      <div class="container">
                          <div class="sec-title">
                              <h1>Get Touch With Us</h1>
                              <span class="border"></span>
                              <!--<div class="select-box pull-right">
                            <select class="text-capitalize selectpicker form-control required" name="form_subject" data-style="g-select" data-width="100%">
                                <option>Newyork Office</option>
                                <option>Canada Office</option>
                                <option>UK Office</option>
                                <option>USA Office</option>
                            </select>
                        </div>-->
                          </div>
                          <div class="row">
                              <div class="col-lg-8 col-md-7">
                                  <!--<div class="contact-form" ng-controller="contactdetailscontroller">-->
                                  <div class="contact-form">
                                      <!--<form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">-->
                                      <form id="contact-form" name="contact_form" class="default-form" method="post">
                                          <h2>Send Message Us</h2>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <input type="text" name="form_name" id="name" ng-model="name" value="" placeholder="Your Name*" required="">
                                              </div>
                                              <div class="col-md-6">
                                                  <input type="email" name="form_email" id="emailref" ng-model="emailref" value="" placeholder="Email*" required="">
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <input type="text" name="form_phone" id="phone" ng-model="phone" value="" placeholder="Phone">
                                              </div>
                                              <div class="col-md-6">
                                                  <input type="text" name="form_subject" id="subject" ng-model="subject" value="" placeholder="Subject">
                                              </div>
                                          </div>
                                          <p style="font-weight:300">Please selelect your field</p>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <input type="checkbox" id="architect" ng-model="architect" name="architect">                               Architect<br />
                                                  <input type="checkbox" id="contractor" ng-model="contractor" name="contractor">                            Contractor<br />
                                                  <input type="checkbox" id="government" ng-model="government" name="government">                            Government<br />
                                                  <input type="checkbox" id="hospitality" ng-model="hospitality" name="hospitality">                         Hospitality<br />
                                                  <input type="checkbox" id="housing_corporation" ng-model="housing_corporation" name="housing_corporation"> Housing corporation<br />
                                                  <input type="checkbox" id="project_development" ng-model="project_development" name="project_development"> Project development<br />
                                                  <input type="checkbox" id="supplier" ng-model="supplier" name="supplier">                                  Supplier<br />
                                                  <input type="checkbox" id="media" ng-model="media" name="media">                                           Media<br />
                                                  <input type="checkbox" id="other" ng-model="other" name="other">                                           Other<br />
                                              </div>
                                          </div>
                                          <br />
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <input type="checkbox" id="newsletter" ng-model="newsletter" name="newsletter"> <span style="left:20px">I would like to receive the newsletter</span><br />
                                              </div>
                                          </div>
                                          <br />
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <textarea name="form_message" id="remarks" ng-model="remarks" placeholder="remarks..." required=""></textarea>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                                  <button class="thm-btn bg-clr1" type="submit" id="submited" data-loading-text="Please wait..." ng-click="sendemail()">submit</button>
                                                  <!--<button class="thm-btn bg-clr1" type="button" id="aent" data-loading-text="Please wait..." onclick="sending_info()">sending</button>-->
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-5">
                                  <div class="quick-contact">
                                      <div class="title">
                                          <h2>Quick Contact</h2>
                                          <p>If you have any questions simply use the following contact details.</p>
                                      </div>
                                      <ul class="contact-info">
                                          <li>
                                              <div class="icon-holder">
                                                  <span class="flaticon-arrows"></span>
                                              </div>
                                              <div class="text-holder">
                                                  <h5><span>Address:</span> Building 3 Chiswick Park 566 Chiswick High Street<br> London, W4 5YA</h5>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="icon-holder">
                                                  <span class="flaticon-phone"></span>
                                              </div>
                                              <div class="text-holder">
                                                  <h5><span>Phone:</span> Ireland :+353(0)85 814 8561 & <br> UK :UK :+44(0)77 9990 7527</h5>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="icon-holder">
                                                  <span class="flaticon-back"></span>
                                              </div>
                                              <div class="text-holder">
                                                  <h5><span>Email:</span> dsmyth@tempohousing.com</h5>
                                              </div>
                                          </li>
                                      </ul>
                                      <ul class="social-links">
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                          <li><a href="https://twitter.com/DEB24510329"><i class="fa fa-twitter"></i></a></li>
                                          <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                          <li><a href="https://www.linkedin.com/in/deborah-smyth-365456b0/"><i class="fa fa-linkedin"></i></a></li>
                                          <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!--End contact form area-->
                  <!--Start Google map area commented-->
                  <!--<section class="google-map-area">
                <div
                    class="google-map"
                    id="contact-google-map"
                    data-map-lat="44.529688"
                    data-map-lng="-72.933009"
                    data-icon-path="images/resources/map-marker.png"
                    data-map-title="Brooklyn, New York, United Kingdom"
                    data-map-zoom="12"
                    data-markers='{
                        "marker-1": [44.529688, -72.933009, "<h4>Head Office</h4><p>44/108 Brooklyn, UK</p>"],
                        "marker-2": [44.231172, -76.485954, "<h4>Branch Office</h4><p>4/99 Alabama, USA</p>"]
                    }'>

                </div>
            </section>-->
                  <!--End Google map area commented-->
                  <!--Start footer area-->
                  <footer class="footer-area" style="padding:0px;background-color:#17264f">
                      <div class="container">
                          <div class="row">
                              <div class="col-xs-12 col-md-12" style="padding:0;background-color:#111934;">
                                  <ul class="footer-contact-info" style="background-color:#142541;">
                                      <li class="col-xs-6 col-md-6" style="font-size: 1.3vw;width:400px;">
                                          <span class="flaticon-phone"></span><b style="color:silver;font-size: 1.3vw;">Phone:</b> Ireland :+353(0)85 814 8561
                                          <p style="margin-left:100px;">UK :+44(0)77 9990 7527</p>
                                      </li>
                                      <li class="col-xs-6 col-md-6" style="font-size: 1.3vw;width:450px;margin-left:-20px;">
                                          <span class="flaticon-arrows"></span><b style="color:silver;font-size: 1.3vw;">Address:</b> Building 3 Chiswick Park 566
                                          <p style="margin-left:112px;">Chiswick High Street,</p>
                                          <p style="margin-left:112px;">London,</p>
                                          <p style="margin-left:112px;">W4 5YA</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="container">
                          <div class="row">
                              <!--Start single footer widget-->
                              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                  <div class="single-footer-widget pd-bottom50">
                                      <div class="title">
                                          <!--<h3>about Us</h3>-->
                                      </div>
                                      <div class="about-us">
                                          <!--<p>Over 24 years experience and knowledge international standards, technologicaly changes our industrial systems, we are dedicated to provides  the best solutions to our valued customers there are many variations solutions.</p>-->
                                          <ul class="footer-social-links">
                                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                              <li><a href="https://twitter.com/DEB24510329"><i class="fa fa-twitter"></i></a></li>
                                              <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                              <li><a href="https://www.linkedin.com/in/deborah-smyth-365456b0/"><i class="fa fa-linkedin"></i></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <!--End single footer widget-->
                              <!--Start single footer widget-->
                              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                  <!--<div class="single-footer-widget marginlft pd-bottom50">
                                <div class="title">
                                    <h3>Usefull Links</h3>
                                </div>
                                <ul class="usefull-links">
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Agriculture Processing</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Mechanical Engineering</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Chemical Research</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Petroleum and Gas</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Material Engineering</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Power and Energy</a></li>
                                </ul>
                            </div>-->
                              </div>
                              <!--End single footer widget-->
                              <!--Start single footer widget-->
                              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                  <!--<div class="single-footer-widget">
                                <div class="title">
                                    <h3>Recent Post</h3>
                                </div>
                                <ul class="recent-post">
                                    <li class="single-post">
                                        <div class="icon-holder">
                                            <span class="flaticon-arrows-1"></span>
                                        </div>
                                        <div class="text-holder">
                                            <a class="post-title" href="#">Best factory award of the year</a>
                                            <div class="post-info">
                                                <span>March 14, 2017</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single-post">
                                        <div class="icon-holder">
                                            <span class="flaticon-arrows-1"></span>
                                        </div>
                                        <div class="text-holder">
                                            <a class="post-title" href="#">Our great working environment</a>
                                            <div class="post-info">
                                                <span>February 27, 2017</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single-post">
                                        <div class="icon-holder">
                                            <span class="flaticon-arrows-1"></span>
                                        </div>
                                        <div class="text-holder">
                                            <a class="post-title" href="#">How to find good engineers?</a>
                                            <div class="post-info">
                                                <span>January 05, 2017</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>-->
                              </div>
                              <!--Start single footer widget-->
                              <!--Start single footer widget-->
                              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                  <!--<div class="single-footer-widget newsletter pd-lefttop margin-top">
                                <div class="title">
                                    <h3>Newsletter</h3>
                                </div>
                                <div class="newsletter-form">
                                    <p>Subscribe to our nesletter, We don’t do mail to spam & your mail id is very confidential.</p>
                                    <form action="#">
                                        <input type="email" name="email" placeholder="Email address">
                                        <div class="icon-holder">
                                            <span class="flaticon-envelope"></span>
                                        </div>
                                        <button type="submit">Subscribe Us</button>
                                    </form>
                                </div>
                            </div>-->
                              </div>
                              <!--End single footer widget-->
                          </div>
                      </div>
                  </footer>
                  <!--End footer area-->
                  <!--Start copyright area-->
                  <section class="copyright-area" style="background-color:#111934">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-6 col-sm-12">
                                  <div class="support">
                                      <p><span class="flaticon-envelope"></span><span style="color:silver;font-weight:300">Any Queries :</span><a href="mailto:dsmyth@tempohousing.com"> <span style="color:white;font-weight:200">dsmyth@tempohousing.com</span></a></p>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                  <div class="copyright">
                                      <p>Copyrights © 2017 All Rights Reserved. Powered by <a href="#">Industry.</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!--End copyright area-->
                  <!--Scroll to top-->
                  <div class="scroll-to-top scroll-to-target" data-target="html" id="trigger"><span class="fa fa-angle-up"></span></div>

              </div>

          </div>
      </body>
  </html>


